# Global
node_modules
dist
*.log
.DS_Store

# Root artifacts / sensitive
config/keys/
config/certs/
app/           # bubblewrap generated project

# Build artifacts
build/
*.aab
*.apk
*.idsig

# PWA
/apps/pwa/node_modules
/apps/pwa/dist

# Desktop
/apps/desktop/node_modules
/apps/desktop/dist
/apps/desktop/.env
# Desktop - Tauri/Rust
/apps/desktop/src-tauri/target/
/apps/desktop/src-tauri/gen/
/apps/desktop/src-tauri/build_log*.txt

# API / Packages
/apps/api/node_modules
/apps/api/dist
/packages/**/node_modules
/packages/**/dist

# Cache / tmp
.turbo
.parcel-cache
.pnp.*
.cache
.env.local
