# Global
node_modules
dist
*.log
.DS_Store

# Root artifacts / sensitive
android.keystore
*.keystore
app-release-*.apk
app-release-*.aab
app-release-*.idsig
app/           # bubblewrap generated project

# Build artifacts
build/
*.aab
*.apk
*.idsig

# PWA
/apps/pwa/node_modules
/apps/pwa/dist

# Desktop
/apps/desktop/node_modules
/apps/desktop/dist
/apps/desktop/.env

# API / Packages
/apps/api/node_modules
/apps/api/dist
/packages/**/node_modules
/packages/**/dist

# Cache / tmp
.turbo
.parcel-cache
.pnp.*
.cache
.env.local

