version: "3.8"

services:
  redis:
    image: redis:7-alpine
    container_name: la-caja-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - ./config/redis/redis.conf:/usr/local/etc/redis/redis.conf:ro
      - redis-data:/data
    # Usamos pass para seguridad premium. Si no usas pass, cambia protected-mode a 'no' en redis.conf
    command: ["redis-server", "/usr/local/etc/redis/redis.conf", "--requirepass", "la-caja-dev-password"]
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "la-caja-dev-password", "ping"]
      interval: 10s
      timeout: 3s
      retries: 5
    deploy:
      resources:
        limits:
          memory: 2.5G

  postgres:
    image: postgres:15-alpine
    container_name: la-caja-db
    restart: unless-stopped
    shm_size: '8gb'
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-postgres}
      POSTGRES_DB: ${DB_NAME:-la_caja}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    # ⚡ OPTIMIZACIÓN RYZEN 7700X + 32GB RAM ⚡
    # shared_buffers: 8GB (25% de 32GB, ideal para DB de alta concurrencia)
    # effective_cache_size: 20GB (Uso agresivo de RAM para cache de disco)
    # maintenance_work_mem: 2GB (Para reconstrucción de índices a velocidad rayo)
    # work_mem: 128MB (Para reportes complejos sin usar disco)
    # max_connections: 500 (Para soportar 1,000 tiendas sin quejas)
    command: >
      postgres
      -c shared_buffers=8GB
      -c effective_cache_size=20GB
      -c maintenance_work_mem=2GB
      -p 5432
      -c checkpoint_completion_target=0.9
      -c wal_buffers=16MB
      -c default_statistics_target=100
      -c random_page_cost=1.1
      -c effective_io_concurrency=200
      -c work_mem=128MB
      -c min_wal_size=1GB
      -c max_wal_size=16GB
      -c max_connections=500
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    deploy:
      resources:
        limits:
          memory: 24G # Máximo estiramiento de RAM para picos de 1,000 tiendas

volumes:
  redis-data:
  postgres-data:
